<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/fontawesome-all.css" rel="stylesheet"/>
    <link href="~/Content/style.css" rel="stylesheet"/>*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <a href="~/Home/Index/">
                        <img src="~/img/s2syellow.png" alt="" style="width:60px;height:40px;">
                    </a>
                </a>
</div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                    <li>@Html.ActionLink("Products", "GetProducts", new { Controller = "Products" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Session["LoggedUserID"] != null)
                    {
                        <li>@Html.ActionLink("Account", "GetCustomer", new { id = Session["loggedUserID"], Controller = "Customers" })</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["cart"] != null)
                    {
                        <li> @Html.ActionLink("View Cart", "DisplayCart", new { Controller = "Cart" }) </li>
                    }
                    @if (Session["LoggedUserID"] == null)
                    {
                        <li>@Html.ActionLink("Log In", "Login", new { Controller = "Registration" })</li>
                        <li>@Html.ActionLink("Register", "Register", new { Controller = "Registration" })</li>
                    }
                    @if (Session["LoggedUserID"] != null)
                    {
                        <li>@Html.ActionLink("Log Out", "Logout", new { Controller = "Registration" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">
                &copy; @DateTime.Now.Year - spot2spot Limited. All rights reserved. All services are provided in line with our terms and conditions <br />
                Registered in England with company no. 08621704.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
